*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
html, body {
  padding: 0;
  margin: 0;
  font-family: Merriweather, Georgia, serif;
  height: 100%;
  font-size: 1em;
  line-height: 1.5em;
}
#map {
  height: 100%;
  margin-right: 500px;
}
#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  overflow: scroll;
}
footer {
  font-family: Lato;
  opacity: 0.75em;
  text-align: center;
}
article {
  padding: 10px 40px;
  background: white;
}
article a {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;  
}
.intro {
  text-align: center;
}
.help {
  background: transparent url(../images/sorm.png) no-repeat center 1em;
  padding-top: 4em;  
}
.cartodb-infowindow {
  display: none !important;
}
h1 {
  font-size: 4.5em;
  line-height: 1em;
  letter-spacing: -0.05em;
  background: transparent url(../images/vapp.png) no-repeat center 0.5em;
  padding-top: 2.5em;
  margin-top: 0;
  margin-bottom: 0;
/*  text-shadow: 2px 2px 0px #fff, 4px 4px 0px rgba(0,0,0,0.15);*/
}
#back {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000;
  color: #fff;
  font-family: sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 1em;
  line-height: 1.7em;
  opacity: 0.95;
  border-radius:100px;
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  padding-top: 0.1em;
}
a, a:link, a:visited, a:hover {
  color: #998f84;
}
header {
  background: #433;
  line-height: 0px;
}
footer {
  background: #433;
  line-height: 0px;
  text-align: left;  
}
.image-big, .image-small  {
  background-position: center;
  background-size: cover; 
}
.image-big {
  height: 200px;
}
.image-small {
  height: 150px;
  width: 242px;
  display: inline-block;
}
h2 {
  margin-top: 1.2em;
}
.old {
  width: 100px;
}
.leaflet-popup-content {
  margin: 5px 8px;
}
.leaflet-popup-content-wrapper {
  border-radius: 6px !important;
  font-family: Merriweather, Georgia, serif;
  font-size: 1.1em;  
}
input {
  font-size: 0.8em;
  padding: 5px;
  font-family: Merriweather, Georgia, serif;
}
input[type=text] {
  border: 1px solid #444;
  border-radius: 5px;  
}
input[type=submit] {
  font-size: 0.9em;
  border: none;
  background: #998f84;
  padding: 5px 12px;
  color: white;
  border-radius: 5px;
}
.oldmap {
  float: right;
  display: inline-block;
  margin-top: -2.7em;
}